extends base

block content

	div.card
		img(src="/images/noimage.jpg")
		.contents
			h2 #{post.title}
			p posted in 
				a(href="/posts/#{post.category}") #{post.category} 
			p by #{post.author} #{moment(post.date).fromNow()}
			p #{post.body}